<html>
<head>
  <link href="/zinc/themes/simplest.css" rel="stylesheet" type="text/css">
  <!--link href="/zinc/themes/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css"-->
    <title>{{ title }}</title>
</head>
<body>
    <div>
        <ul>
            <li><a href="home">HOME</a></li>
            <li><a href="league">LEAGUE</a></li>
        </ul>
    </div>
    <hr />
    <div>
        <h3>{{ header }}</h3>
    </div>
    <hr />
 
    {{ body }}
 
    <hr />
    <div id="footer">
        <p>&copy; All rights reserved. {{ application_name }}</p>
    </div>
</body>
</html>