/*
 * #header, #content, #footer {
 */
#main {
    width: 1000px;
    margin: 0 auto;
    position: relative;
}

#header {
    margin-top: 10px;
    margin-left: 26px;
    margin-bottom: 20px;
}
#header i, #header .title {
    float: left;
    margin-right: 14px;
}
#header .title {
    margin-top: 34px;
}
#header .nb {
    float: right;
}
#header, #footer {
    font-size: 0.75em;
}

.col-1, .col-2, .col-3 {
    float: left;
}

#page #content .col-1 {
    width: 250px;
    margin-right: 20px;
}
#page #content .col-2 {
    width: 650px;
    min-height: 500px;
}

#footer {
    height: 89px;
}
