/.git/
composer.lock
/z_not_ongithub/
/fwphp/glomodul/mkd/01/090_private/
/fwphp/xdocker/
/fwphp/z_test/
/vendor/RespectValidation/
/vendor/b12phpfw/Dbconn_allsites_mysql_freehostingeu.php
/vendor/b12phpfw/Dbconn_allsites_mysql_heliohost.php
/vendor/b12phpfw/PHPmailer_ini.php
/vendor/b12phpfw/img/img_big