/.git/
composer.lock
/z_img_big_not_git/
/z_test_not_git/
/fwphpv09/
/fwphpv10/
/vendorV09/
/vendorV10/
/fwphp/glomodul/mkd/01/090_private/
/vendor/RespectValidation/
/vendor/b12phpfw/Dbconn_allsites_mysql_freehostingeu.php
/vendor/b12phpfw/Dbconn_allsites_mysql_heliohost.php
/vendor/b12phpfw/PHPmailer_ini.php