<?php
// J:\xampp\htdocs\z_Hollingworth\login\App\Views\Signup\new.html
//{% extends 'b ase.html' %}  ee  includes b ase.html !!
use App\Config;
$cnf = new Config;

$title        = 'Sign up';
$body         = '<h1>Sign up</h1>';

$footer = 'THIS VIEW IS '. __FILE__ .' which extends '
  . dirname(dirname(__FILE__)) . '/base.html';
            $current_user = 'current_user';
            $current_user_name = 'current_user_name';

$email        = '' ;
$name         = '' ;
$remember_me  = '' ;

$user_errors  = [] ;

ob_start(); //ob_ start("callbackfn"); //without output buffering breaks line

//J:\xampp\htdocs\z_Hollingworth\login\public\js\hideShowPassword.min.js
?>
    <!--script src="<=$cnf->MODULE_RELURL>/js/test.js"></script>
    <script src="<=$cnf->MODULE_RELURL>/js/hideShowPassword.min.js"></script>
    <script src="<=$cnf->MODULE_RELURL>/js/app.js"></script>

    <script>
        //alert('JS begin in <=str_replace('\\','/', __FILE__)>');
        $(document).ready(function() {

            /**
             * Validate the form
             */
            $('#formSignup').validate({
                rules: {
                    name: 'required',
                    email: {
                        required: true,
                        email: true,
                        remote: '<=$cnf->MODULE_RELURL>/account/validate-email'
                    },
                    password: {
                        required: true,
                        minlength: 6,
                        validPassword: true
                    }
                },
                messages: {
                    email: {
                        remote: 'email already taken'
                    }
                }
            });


            /**
              * Show password toggle button
              */
            $('#inputPassword').hideShowPassword({
                show: false,
                innerToggle: 'focus'
            });
        });
    </script-->


    <?php
      if (count($user_errors) > 0) {
        echo '<p>Errors:</p>';
        echo '<ul>';
           foreach ($user_errors as $key => $error) {
             echo "<li>$error</li>" ;
           } 
        echo '</ul>';
    } 
    ?>

    <form method="post" action="<?=$cnf->MODULE_RELURL?>/signup/create" id="formSignup">

        <div class="form-group">
            <label for="inputName">Name at least 6 char eg 123456</label>
            <input id="inputName" name="name" placeholder="123456" autofocus
                   value="<?=$name?>" required class="form-control" />
        </div>
        <div class="form-group">
            <label for="inputEmail">Email address</label>
            <input id="inputEmail" name="email" placeholder="email address"
                   value="<?=$email?>" required type="email" class="form-control" />
        </div>
        <!-- password_hash varchar(255) : $2y$10$8QFex6J08T6Cv/TCI3CNDO9AAcXgTTbIXIGg4amOoBs7S5.uytrBm -->
        <div class="form-group">
            <label for="inputPassword">Password at least 5 char and one number eg ssssss1</label>
            <input type="password" id="inputPassword" name="password" 
                   placeholder="ssssss1" required class="form-control" />
        </div>

        <button type="submit" class="btn btn-default">Sign up</button>

    </form>

<?php
$body .= ob_get_contents();
ob_end_clean(); //ob_ end_flush(), ob_ get_flush()...

//http://localhost:8083/z_Hollingworth/login/public/login
include $cnf->MODULE_PATH .'\App\Views\base.html' ;
    //'J:\xampp\htdocs\z_Hollingworth\login\App\Views\base.html' ;
