/* http://meyerweb.com/eric/tools/css/r eset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

    table, th, td {
      border: 1px solid black;
      border-collapse: collapse;
    }
    th, td {
      padding: 5px;
      text-align: left;
      vertical-align: top;
    }
    #t01 {
      width: 100%;    
      background-color: #ffffff;
    }


    #board
    {
        /*height: 780px;
        float: left;
        width: 47%; */
    }

    #info
    {
        padding-right: 20px;
    }

    .logs
    {
        width: 100%;
        border: 1px solid black;
        overflow: auto;
        height: 400px; /* 821px */
        background-color: white;
    }

    a.cell
    {
        width: 100%;
        height: 100%;
        display: block;
    }

    a img.piece
    {
        margin-top: 15px;
    }

    #promotion-box
    {
        border: 1px solid black;
        width: 300px;
        top: 50%;
        text-align: center;
        position: absolute;
        left: 50%;
        margin-left: -150px;
        margin-top: -75px;
    }