body { 
	margin-left: 100px;
	margin-right: 50px;
}
.displaybox {
   width:1050px;
   background-color:#ffffff;
   border:1px solid #000000;
   padding:10px;
   font:24px normal verdana, helvetica, arial, sans-serif;
}
.btn300 {
   width:300px; color: darkblue; 
   text-align:left; 
   padding-left:5px; padding-right:5px; 
   padding-top:1px; padding-bottom:1px;    
   /*background-color:#CCC; */
   /*border:1px solid #000000; */
   /*font:20px normal verdana, helvetica, 
     arial, sans-serif;*/
}
.btn30 {
   width:30px; color: darkblue; 
   text-align:center; 
   padding-left:5px; padding-right:5px; 
   padding-top:1px; padding-bottom:1px;    
}
.btn60 {
   width:60px; color: darkblue; 
   text-align:center; 
   padding-left:5px; padding-right:5px; 
   padding-top:1px; padding-bottom:1px;    
}
/***********************************/
.plava {color: #0000FF} 
.plava_bold {color: #0000FF; font-weight: bold; }
.bold_darkblue_yellow {color: #0000A0;
   background-color:#FFFF99;
   font-weight: bold;
}
.bold_violet_white {   color: #800080;
   font-weight: bold;
}