<?php
// included in J:\xampp\htdocs\z_Hollingworth\login\App\Views\Home\index.html or in...
// ee     *** INCLUDED IN ANY VIEW WHICH EXTENDS b ase.html ***
?>
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title><?=$title?></title>
                  <!--link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"-->
    <link rel="stylesheet" 
          href="<?=$cnf->WSROOT_URL?>zinc/themes/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/styles.css" />
</head>

<body>
  <div class="container">

    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <ul class="nav navbar-nav">
                <li><a href="<?=$cnf->MODULE_RELURL?>">Home</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <?php if ($current_user) { ?>
                    <li><a href="<?=$cnf->MODULE_RELURL?>/profile/show">Profile</a></li>
                    <li><a href="<?=$cnf->MODULE_RELURL?>/logout">Log out</a></li>
                <?php } ?>
            </ul>
        </div>
    </nav>
                            <!-- {% for message in flash_messages %}
                                <div class="alert alert-{{ message.type }}">
                                    {{ message.body }}
                                </div>
                            {% endfor %} -->
    <?=$body?>

    <hr /><?=$footer?>
  </div> <!-- e n d  class="container" -->
                  <!--script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
                  <script src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.15.0/jquery.validate.min.js"></script-->

</body>
</html>
