* {
  /*You can use !important to override inline CSS*/
  /*font-family: "Myriad Pro", Myriad, "Liberation Sans", "Nimbus Sans L", "Helvetica Neue" !important;*/
  font-family: tahoma !important;
}
pre, code {
  text-align:left;
  white-space: pre-wrap;
  border-style: solid; border-color: lightblue; border-width: 1px 3px 3px 1px; 
  padding: 1px 8px;
  background: white;
  margin-left: 5px;
  margin-right: 5px;
  color:black;
  font-family: courier-prime,'Courier New',Courier,monospace;
  font-size: 1em;
  display: block;
  max-width: 100%;
}

.code head {
  display: block;
  }
.code head :not(style) {
  display: none;  
}

style[contenteditable] {
  display: block; 
  white-space: pre;
  padding: 10px; 
  font-size: 16px;
  font-family: "ubuntu mono", monospace;
  background-color: rgba(0,0,0,0.1);
  border: 1px solid rgba(0,0,0,0.2);
}

/*<!--style contenteditable-->*/
  .calendar {
    counter-reset: calendar;
    flex-direction: column;
    width: 100%;
    margin: auto;
  }
  .calendar, 
  .calendar > ul,
  .calendar > ol {
    text-align: center;
    display: flex;
    /* none, circle, square, upper-roman, lower-alpha */
    list-style-type: none; margin: 0; padding: 0; text-decoration: none;
    outline: 1px solid white;
    flex-wrap: wrap;
  }

  .calendar > ol:before,
  .calendar > ol:after {
    content: '';
    outline: 1px solid transparent;
    box-sizing:border-box;
    background-color: rgba(0,0,0,0.05);
  }


  .monday > ol:before,
  .wednesday.days31 ol:after,
  .thursday.days30 ol:after {
    flex: 0 0 14.25%;
  }
  .tuesday ol:before,
  .tuesday.days31 ol:after ,
  .wednesday.days30 ol:after {
    flex: 0 0 28.5%;
  }
  .wednesday ol:before,
  .monday.days31 ol:after,
  .tuesday.days30 ol:after {
    flex: 0 0 42.75%;
  }
  .thursday ol:before,
  .sunday.days31 ol:after,
  .monday.days30 ol:after {
    flex: 0 0 57%;
  }
  .friday ol:before,
  .saturday.days31 ol:after,
  .sunday.days30 ol:after {
    flex: 0 0 71.25%;
  }
  .saturday ol:before,
  .friday.days31 ol:after,
  .saturday.days30 ol:after {
    flex: 0 0 85.5%;
  }


  .calendar > ul li {
    background-color: rgba(0,0,0,0.2);
    outline: 1px solid white;
  }
  .calendar li {
    flex: 0 0 14.25%;
    box-sizing:border-box;
    text-align: center;
    padding: 5px;
  }
  .calendar > ul li {
    white-space: nowrap;
    text-overflow: ellipsis;
    max-width: 15%;
    overflow: hidden; 
    
  }
  .calendar > ol li {
    outline: 1px solid white;
    background-color: rgba(0,0,0,0.1);
    text-align: left;
    height: 100px;
    padding: 5px;
  }
  .calendar > ol li:before {
    counter-increment: calendar;
    content: counter(calendar);
  }
/*  ~~~~~~~~~~~~~~~~~~~~~~~  */
/*
.calendar > ol.nonum {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

ol[data-rte-list] {
     padding-left: 0;
 }
ol[data-rte-list] li > :first-child::before {
     margin-left: 0 !important;
     min-width: auto !important;
     content: "" !important;
     padding-right: 0 !important;
 }
*/
.calendar li:hover, .today {
    background-color: #BCF;
}


/*
.fill {
    background-color: #BCD;
}

.weekdays li:hover,li.fill:hover {
    background-color: #BCD;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}
*/