/*J:\awww\apl\dev1\afinc\css\2_4_col_home.css*/
.top-banner {position:relative;}
.top-banner h1 {position:absolute; left:0; top:0; font:normal 24px/30px 'latolight', arial, sans-serif; color:#2b9cd5;}
.top-banner h1 span.head1 {color:#9e6aaa;}
.top-banner h1 span.head2 {color:#ea851d;}
.top-banner h1 span.head3 {color:#7cb447;}

#info h3 {margin-top:20px; color:#329cd2;}
header h1 span {color:#329cd2;}
#midCol {text-align:center;}
#midCol h3 {text-align:left;}
dl.latest {width:240px; margin:20px 0; display:inline-block; padding:0 0 10px 0;
  background:#dfefff; 
  vertical-align:top; border-radius:5px; text-align:left;}
dl.latest.col2 {margin:20px 15px;}
/* dl.latest {*display:inline;} */
dl.latest dt {font:normal 25px/45px 'latolight', arial, sans-serif; color:#fff; margin:0; padding:0 15px; border-radius:5px 5px 0 0; background:#000; background:rgba(0,0,0,0.4);}
dl.latest dd {padding:0; margin:0;}
dl.latest dd a {display:block; font:normal 14px/30px 'latomedium', arial, sans-serif; color:#000; text-decoration:none; padding:0 15px;}
#info p {text-align:justify;}
#info p a {color:#c00;}
img.float_left {float:left; padding:10px 10px 10px 0;}
p a.exlink {color:#fff;}
#info blockquote {padding:20px 0; margin:0;}
#info blockquote p.cite {padding:0; margin:0; font:normal 20px/30px 'latomedium', arial, sans-serif; color:#7cb447;}

/* design and assistance */
ol li {padding:5px 0; font:normal 14px/18px 'latomedium', arial, sans-serif; color:#333;}

/* faqs */
dl.faqs {padding:0; margin:30px 0;}
dl.faqs dt {font:normal 16px/22px 'latobold', arial, sans-serif; color:#000;}
dl.faqs dd {padding:0 0 10px 0; margin:0; font:normal 14px/18px 'latomedium', arial, sans-serif; color:#333;}
dl.faqs dd a {color:#c00;}
dl.faqs dd a:visited {color:#c00;}

/* support */
#supporters {padding:0; margin:0; list-style:none; text-align:center;}
#supporters li {text-align:left; display:inline-block; width:220px; font:normal 14px/18px 'latomedium', arial, sans-serif; padding:5px 10px; margin:2px; background:#dadbdf; color:#000;}
/* #supporters li {*display:inline;} */
#supporters li a {color:#000;}
#supporters li a:visited {color:#000;}
/* moj */
#grad1 {
    height: 100px;
    background-color: #cccccc; 
    /*
      #fefbd8=yellow, #f18973 or coral=orange, 
      #92a8d1=blue, rgb(201, 76, 76)=darkred, rgba(201, 76, 76, 0.3)=pink, 
      #80ced6 or hsl(89, 43%, 51%)=green, 
      #d5f4e6 or hsla(89, 43%, 51%, 0.3)=lightgreen
    */
    
    /* background-image: radial-gradient(lightgray, yellow, green); */
    /* background-image: linear-gradient(green, yellow, lightgray); */
    background-image: linear-gradient(#999, #ddd);
}





/* ~~~ I added : ~~~ */
/* --  Links that have been visited are DeepPink  -- */
/* a:visited { color: DeepPink !important; }  */
 
/* --  Links that need javascript are green  -- */
a[href^="javascript:"] { color: SandyBrown !important; font-weight: bold !important; }

/* T,R,D,L smedja= #936709*/
pre, code, kbd, samp {
  text-align:left;
  white-space: pre-wrap;
  border-style: solid; border-color: lightblue; border-width: 1px 3px 3px 1px; 
  padding: 1px 8px;
  background: white;
  margin-left: 5px;
  margin-right: 5px;
  color:black;
  font-family: courier-prime, 'Courier New',Courier,monospace;
  font-size: 1em;
  display: block;
  max-width: 850px;
}
   /* width: 700px; */
  /* text-align:justify; */  
  /* text-justify:none; */
  

#rightCol .box300.tad {padding:5px 40px; margin:2px 0; background:#ddd;}
.tad p {padding:0; margin:0; font-size:14px !important;}
.tad p a {color:#069; text-decoration:none;}
#cse-search-box input.search {padding:0 10px; height:38px; border:0; border-radius:5px 0 0 5px;
   width:150px; float:left; font:normal 15px/37px 'latomedium', arial, sans-serif;}
.auto-style2 {
  text-align: left;
}
.h2_csscls {
  text-align: left;
  background-color: #DDDDDD;
  /* height:83px; position:relative; */
  width:100%; 
  word-wrap: break-word;
}



    /* Responsive Table with horizontal scrollbar 
       HOR.SCROLLBAR DOES NOT WORK WITH CSS USED IN SOME PAGES !!!
    */

    .w3-container:after,.w3-container:before,.w3-panel:after,.w3-panel:before,
      .w3-row:after,.w3-row:before,.w3-row-padding:after,.w3-row-padding:before,
      .w3-cell-row:before,.w3-cell-row:after,.w3-clear:after,.w3-clear:before,
      .w3-bar:before,.w3-bar:after{content:"";display:table;clear:both}

    .w3-container,.w3-panel{padding:0.01em 16px}

    .w3-responsive{display:block;overflow-x:auto} 
    .w3-table,.w3-table-all{border-collapse:collapse;border-spacing:0;
        width:100%;display:table}
    .w3-table-all{border:1px solid #ccc}
    .w3-bordered tr,.w3-table-all tr{border-bottom:1px solid #ddd}
    .w3-table-all tr:nth-child(odd){background-color:#fff}
    .w3-table-all tr:nth-child(even){background-color:#f1f1f1}
    .w3-table td,.w3-table th,.w3-table-all td,.w3-table-all th{
       padding:8px 8px;display:table-cell;text-align:left;vertical-align:top}
    .w3-table th:first-child,.w3-table td:first-child,.w3-table-all th:first-child,.w3-table-all td:first-child{padding-left:16px}
