* {
  font-family: arial, tahoma ; 
}

pre, code, kbd, samp {
  text-align:left;
  white-space: pre-wrap;
  border-style: solid; border-color: lightblue; border-width: 1px 3px 3px 1px; 
  padding: 1px 8px;
  background: white;
  margin-left: 5px;
  margin-right: 5px;
  color:black;
  font-family: courier-prime,'Courier New',Courier,monospace;
  font-size: 1em;
  display: block;
  max-width: 100%;
}

.pgBreakAfter {
  cursor: text;
  filter: Gray;
  page-break-after: always;
}
.pgBreakBefore {
  cursor: text;
  filter: Gray;
  page-break-before: always;
}


table, th, td {
  border: 1px solid grey;
  border-collapse: collapse ; /*separate*/
}
th, td {
  padding: 4px;
}
th {
  text-align: left;
}
thead {color:brown; background:lightgray;}
/*tbody {color:black;}*/
tfoot {color:grey;}

/* **************************** */
html {
  background-color: #333;
  border: 1px solid;
}  
main {
  background-color: white;
  border-width: 1px 0 0 1px;
}
article {
  border: 1px solid;
  border-width: 0 1px 1px 0;
  padding: 10px;
}
main {
  display: flex;
  flex-wrap: wrap;
}
.magic {
  visibility: hidden; 
  padding: 0 10px;
  border-width: 0 1px;
}
/* ************************************ */
article { 
  flex: 1;
  /* max-width: 300px; min-width: 200px; */
  max-width: 100%;  min-width: 50%;
}
img {
  width: 100%; /*height: 24vw;*/ /*18vw;*/
  background-color: #ccc;
}
/* ************************************ */




/*
table {
  width:100%";
  border: 0px solid grey ;
  display: table;
  border-spacing: 2px; ???
}
*/

/*
.code head {
  display: block;
  }
.code head :not(style) {
  display: none;  
}

style[contenteditable] {
  display: block; 
  white-space: pre;
  padding: 10px; 
  font-size: 16px;
  font-family: arial, tahoma;
  background-color: rgba(0,0,0,0.1);
  border: 1px solid rgba(0,0,0,0.2);
}
*/