* {
  /*You can use !important to override inline CSS*/
  /*font-family: "Myriad Pro", Myriad, "Liberation Sans", "Nimbus Sans L", "Helvetica Neue" !important;*/
  font-family: tahoma !important;
}

  .chess {
    counter-reset: chess;
    flex-direction: column;
    width: 100%;
    margin: auto;
  }
  .chess, 
  .chess > ul,
  .chess > ol {
    text-align: left; /*center*/
    display: flex;
    /* none, circle, square, upper-roman, lower-alpha */
    list-style-type: none; margin: 0; padding: 0; text-decoration: none;
    outline: 1px solid white;
    flex-wrap: wrap;
  }

  .chess > ol:before,
  .chess > ol:after {
    content: '';
    outline: 1px solid transparent;
    box-sizing:border-box;
    background-color: rgba(0,0,0,0.05);
  }


/*  ~~~ squares hdr 8 columns (chess was calendar 7 d ays in week, see read_msg_tbl_kalendar_flex.css) ~~~*/
  .chess > ul li {
    background-color: rgba(0,0,0,0.2);
    outline: 1px solid white;
  }
  .chess li {
    flex: 0 0 38px ; /* 0 0 38px 3% 42px FULL PAGE: 12.5% is for 8 cols,  14.25% for 7 cols*/
    box-sizing:border-box;
    text-align: left; /*center*/
    padding: 5px;
  }
  .chess > ul li {
    white-space: nowrap;
    text-overflow: ellipsis;
    max-width: 15%; /* 15% */
    overflow: hidden; 
    
  }
  .chess > ol li {
    outline: 1px solid white;
    background-color: rgba(0,0,0,0.1);
    text-align: left;
    height: 100px;
    padding: 5px;
  }
  .chess > ol li:before {
    counter-increment: chess;
    content: counter(chess);
  }
/*  ~~~ e n d  squares hdr 8 columns ~~~*/

.chess li:hover, .lastmove {
    background-color: #BCF;
}





/*
pre, code {
  text-align:left;
  white-space: pre-wrap;
  border-style: solid; border-color: lightblue; border-width: 1px 3px 3px 1px; 
  padding: 1px 8px;
  background: white;
  margin-left: 5px;
  margin-right: 5px;
  color:black;
  font-family: courier-prime,'Courier New',Courier,monospace;
  font-size: 1em;
  display: block;
  max-width: 100%;
}

.code head {
  display: block;
  }
.code head :not(style) {
  display: none;  
}

style[contenteditable] {
  display: block; 
  white-space: pre;
  padding: 10px; 
  font-size: 16px;
  font-family: "ubuntu mono", monospace;
  background-color: rgba(0,0,0,0.1);
  border: 1px solid rgba(0,0,0,0.2);
}
*/